@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
/* structural code */

body{
  background: #2c3037;
  font-family: 'Bree Serif', serif,'Lato', sans-serif;
  margin: auto;
  color: #fff;
  text-align: justify;
  max-width: 1150px;
}

/* image */
img{

  display: block;
  width: 75%;
  height: auto;
  border: 2px solid #f4bf42;
  border-radius: 50%;
  margin: 30px auto;
}

/* text opction */
h1{
  font-family: 'Boogaloo',Arial, Helvetica,sans-serif;
  letter-spacing: 0.4rem;
  color: #f4bf42;
  padding: 1rem 0;
  font-size: 3.3rem;
  margin-bottom: -0.8rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

h2{
  margin: 1rem;
}

h3{
  margin: 1.5rem auto 0.5rem 2.5rem;
  font-size: 1.3rem;

}

h4{
  margin: 0;
}

p{
  margin: 1rem;
}

ul{
  margin: 0;
}

li{
  margin: 10px;
}

span{
  color: #fff;
  font-size: 2.3rem;
}

.box2 span{
  font-family: 'Boogaloo',Arial, Helvetica,sans-serif;
  letter-spacing: 0.4rem;
  font-size: 2.6rem;
}

hr{
  width: 17.5rem;
  margin-top: -15px;
  float: left;
  margin-left: 0.5rem;
  color: #f4bf42;
}

.al{
  text-align: center;
}

#Experience{
  color: #f4bf42;
}

.wr{
  padding: 0 1rem;
}

/* icons  gmail github disign */
.fab{
  color: #fff;
  font-size: 5rem;
  margin: 1rem 0 ;
  text-decoration: none;
}

.fab:hover{
  color: #f4bf42;
}

.fas{
  color: #fff;
  font-size: 5rem;
  margin: 1rem 0 ;
  text-decoration: none;
}

.fas:hover{
  color: #f4bf42;
}

/* link */
a:active{
  outline: none;
}



/* Showecase */
#Showecase{
  width: 100%;
  background: #35353A;
}

/* header grid box */
.header-box{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.box1{
  grid-column: 1;
  grid-row: 1/4;
  margin left: auto;
  margin-right: auto;

}

.box2{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  padding-top: 0.6rem;
  position: relative;
  height: 3rem;
  margin-bottom: 1.5rem;
}

/* name positon-rolate */
.box2 span{
  position: absolute;
  transform: rotate(8deg);
  transform-origin: 5rem -45rem;
}

.box3{

  grid-column: 2;
  grid-row: 2/4;
}

.inside-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.b1{
  grid-column: 1;
}

.b2{
  grid-column: 2;
}

.b2 p{
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.b2 a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.b2 a:hover{
  display: block;
  color: #f4bf42;
  height: 45px;
}

.box3 hr{
  float: inherit;
  margin: 0 auto 1rem auto;
  width: 80%;
}

/* nav */
#nav{
  background: #35353A;
}

.nav-box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

}

.nav-box ul li{
  display: inline-block;
  background: #35353A;
  font-size: 1.1rem;
  margin: 0;
  font-size: 1.25rem;
}

.nav-box a{
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-box a:hover{
  background: #f4bf42;
  color: #35353A;
}

/* main */
/* section-a */
#section-a.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-top: 1px solid #f4bf42;
}

#section-a.grid hr{
  width: 10rem;
}


#section-a .container-left{
  grid-column: 1;
  background: #35353A;
}

#section-a .container-right{
  grid-column: 2;
  background: #f4bf42;
  color: #35353A;
}

#section-a .container-right hr{
  color: #35353A;
}

.inside-grid li{
  font-size: 1.1rem;
  font-weight: 500;
  margin: 5px auto 5px 3rem;
  min-width: 215px;
}

.progres{
  margin: auto 0 auto -4rem;
}

progress[value]{
  width: 85%;
  height: 1rem;
  background-color: #fff;;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #35353A;
  box-shadow: 0 0px 2px #35353A inset;
}

/* color progress bar broswer */
progress::-moz-progress-bar {
  background: #35353A;
  box-shadow: 0px 0px 4px #f4bf42 inset;
}

progress::-webkit-progress-value {
  background: #35353A;
  box-shadow: 0px 0px 4px #f4bf42 inset;
}
progress {
   color: #35353A;
   box-shadow: 0px 0px 4px #f4bf42 inset;
 }


/* circle bar  language*/
pie {
    width: 6em;
    height: 6em;
    display: block;
    border-radius: 50%;
    background-color: #35353A;
    border: 2px solid #35353A;
    margin: 1em auto;

}

.proc65 {
  box-shadow: 0 0px 2px #f4bf42 inset;
  background-image:
      linear-gradient(120deg, transparent 50%, #35353A 50% ),
      linear-gradient(90deg, white 50%, transparent 50%);
}

.proc100{
  box-shadow: 0 0px 2px #f4bf42 inset;
  background-image:
      linear-gradient(120deg, transparent 50%, #35353A 50% ),
}

.inside-grid h3{
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
}


/* section-b */
#section-b{
  background: #35353A;
  margin: 0;
  padding: 0.1rem 0;
  border-top: 1px solid #f4bf42;
}

#section-b hr{
  width: 10rem;
}

/* section-c */
#section-c{
  background: #f4bf42;
  color: #35353A;
  padding: 0.1rem 0;
}

/* footer */
#footer{
  text-align: center;
  color: #fff;
  background: #35353A;
}

#footer a{
  text-decoration: none;
  color: #f4bf42;
}

#footer p{
  margin: 0;
  display: inline;
}

#footer p:first-child{
  float: left;
}

#footer p:last-child{
  float: right;
}



/* page-disign */
.ri{
  float: right;
}

#Portfolio hr{
  width: 75%;
}

.container-img{
  min-height: 320px;

}

.image-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr)
}

.left-img{
  grid-column: 1;
  margin: 1rem;
}

.left-img img{
  margin: 0 auto;
  object-fit: contain;
}

}

.right-img{
  grid-column: 2;
  margin: 1rem;
}

.right-img img{
  margin: 0 auto;
  object-fit: contain;
}






/* Styles the thumbnail */


.lightbox img {
height: 300px;
width: 400px;
box-shadow: 0 0px 3px #f4bf42 ;
}


.search{
  position: relative;

}

.lightbox .fas {
  position: absolute;
  display: block;
  top: 35%;
  left: 44%;
  color: #fff;
  opacity: 0;
  text-align: center;


}

.lightbox .fas:hover {
  color: #f4bf42;
  opacity:1;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}




a.lightbox img :hover{
opacity: 0.4;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
border-radius: 50%;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 11111;


}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
border-radius: 0;
width: 85%;
max-height: 800px;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:75px;
height:75px;
color: #fff;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: #fff;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: #fff;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.lightbox-target:target img {100
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}





/* next divice */
@media screen and (max-width: 1150px) {
    .header-box{
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 860px) {
  .header-box{
    grid-template-columns: 1fr;
  }
  .box1{
    grid-row: auto;;
  }

  .box2{
    grid-column: auto;
  }

  .box3{
    grid-column: auto;
    grid-row: auto;
  }

  .nav-box ul{
    text-align: center;
  }

  .nav-box ul li{
    display:flex;
  }

  .nav-box a{
    width: 100%;
  }

  /* next page */
  .image-grid{
    grid-template-columns: 1fr;
  }

  .right-img{
    grid-column: 1;
  }

  #Portfolio hr{
    width: 100%;
  }

  .lightbox-target img {
  width: 100%;
  }
}

@media screen and (max-width: 680px) {
  #section-a.grid{
    grid-template-columns: 1fr;
  }

  #section-a .container-right{
  grid-column: auto;
  }

  #footer p{
    margin: 0;
    display: grid;

  }

  #footer p:first-child{
    float: none;
    text-align: center;
  }

  #footer p:last-child{
    float: none;
    text-align: center;
}
